{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block title %}Добавить статью{% endblock %}

{% block page_title %}Добавление статьи{% endblock %}

{% block content %}
<script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js"></script>
<script src="https://unpkg.com/turndown/dist/turndown.js"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
<script>window.jQuery || document.write('<script src="https://www.justinmccandless.com/demos/markdown-html-form/examples/simple/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script type="text/javascript" src="{% static 'main/assets/js/mdhtmlform.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.0/showdown.js"></script>
<script type="text/javascript" src="{% static 'main/assets/js/plugins.js' %}"></script>
<script type="text/javascript" src="https://www.justinmccandless.com/demos/markdown-html-form/examples/simple/js/vendor/modernizr-2.6.2.min.js"></script>
<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
<div class="col">
	<div class="card">
		<div class="card-header card-header-primary">
			<h4 class="card-category">Добавить статью</h4>
			<h6 class="card-title">Поля отмеченные <font color="red">*</font> обязательны для заполнения</h6>
		</div>
		<div class="card-body">
			<form method="post" enctype="multipart/form-data" class="text-white">
				{% csrf_token %}
				{{ form.author }}
				<div class="table-responsive">
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="form-field-title">
									<u>Категория</u> <font color="red">*</font>
								</td>
								<td>
									{{ form.category|attr:"class:custom-select" }}
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="form-field-title">
									<u>Название статьи</u> <font color="red">*</font>
								</td>
								<td class="form-field">
									{{ form.title|attr:"class:form-control"|attr:"placeholder:Введите название статьи" }}
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="form-field-title">
									<u>Превью</u>
								</td>
								<td class="form-field">
									{{ form.image|attr:"class:form-control"|attr:"placeholder:Выберите изображение" }}
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="form-field-title">
									<u>Ссылка на превью</u>
								</td>
								<td class="form-field">
									<input type="text" class="form-control" name="image_url" id="id_image_url" placeholder="http://example.com/example.jpg">
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									<u>Аннотация</u>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									<textarea class="form-control" name="card_text" id="id_card_text" placeholder="До 200 символов." rows="3" required></textarea>
								</td>
							</tr>
						</tbody>
					</table>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>
									<u>Текст статьи</u> <small>(поддерживает Markdown)</small> <font color="red">*</font> <a class="btn" id="preview-btn"><font color="white">Предпросмотр</font></a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr style="display: table-row" id="md-form">
								<td>
									<textarea class="mdhtmlform-md form-control" id="id_content" name="content" rows="10" placeholder="## Write markdown in the textarea!"></textarea>
					            </td>
			            	</tr>
			            	<!-- Preview -->
			            	<tr style="display: none" id="html-form">
			            		<td>
			            			Предпросмотр
			            			<!-- Display converted html here! -->
					                <div class="mdhtmlform-html text-center"></div>
					                <!-- And insert converted html for submission here... -->
					                <textarea class="mdhtmlform-html" style="display: none;" rows="10"></textarea>
			            		</td>
			            	</tr>
		            	</tbody>
					</table>
					<table class="table table-hover">
						<tbody>
							<tr>
								<td class="form-field-title">
									<u>Теги</u>
								</td>
								<td class="form-field">
									{{ form.tags|attr:"class:form-control"|attr:"required:false" }}
								</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="row mb-3">
					<div class="col-lg-2"></div>
					<div class="col-lg-6">
						<input class="btn btn-md btn-success btn-block shadow-sm" type="submit" value="Отправить">
					</div>
					<div class="col-lg-3"></div>
				</div>
				<div class="row mb-3">
					<div class="col-lg-2"></div>
					<div class="col-lg-6">
						<a class="btn btn-md btn-info btn-block shadow-sm" href="{{ request.META.HTTP_REFERER }}">Назад</a>
					</div>
					<div class="col-lg-3"></div>
				</div>
			</form>
		</div>
	</div>
</div>
<script type="text/javascript">
	var preview = false;
	$('#preview-btn').on('click', function() {
		if (!preview){
			$(this).children('font').html('Редактирование');
			$('#html-form').css('display', 'table-row');
			$('#md-form').css('display', 'none');
		}
		else {
			$(this).children('font').html('Предпросмотр');
			$('#html-form').css('display', 'none');
			$('#md-form').css('display', 'table-row');
		}
		preview = !preview;
	});
</script>
{% endblock %}