{% extends 'layout/basic.html' %}

{% load static %}
{% load bootstrap4 %}

{% block title %}Личные сообщения{% endblock %}
{% block page_title %}Сообщения{% endblock %}

{% block content %}
<div class="col-4">
	<div class="card">
		<div class="card-header card-header-info">
			<div class="row justify-content-between px-5">
				<!-- <div class="col"> -->
					<h4 class="card-title">Личные сообщения</h4>
				<!-- </div> -->
				<!-- <div class="col"> -->
				<!-- </div> -->
			</div>
		</div>
		<div class="card-body">
			<a href="{% url 'private_messages:create_message' %}" class="btn btn-sm btn-success pb-1">Новое сообщение</a>
			<div class="table-responsive">
				<table class="table table-hover">
						<tbody>
				{% for dlg in dialogs %}
							<tr>
								<td>
									{% if request.user.username == dlg.receiver %}
										{{ dlg.sender }}
									{% else %}
										{{ dlg.receiver }}
									{% endif %}
								</td>
								<td>
									{{ dlg.message }}
								</td>
							</tr>
				{% endfor %}
						</tbody>
					</table>
			</div>
		</div>
	</div>
</div>
<div class="col">
	<div class="card">
		<div class="card-header card-header-info">
			<h4 class="card-title">Диалог</h4>
		</div>
		<div class="card-body">
			
		</div>
	</div>
</div>
{% endblock %}